<h4>Post details:</h4>
<br>
<p>
    <strong><em><%=@row['post_name']%></em></strong>
    <br>
    <br>
    <%= @row['content'] %> 
    <br>
    <br>
    <span style="font-size: 75; color: #999">Added at: <%= @row['created_date'] %></span>
</p>
<br>
<h4>Comments: </h4>
<br>

<%@comments.each do |comment|%>
    <em><%=comment['comment_name']%></em>
    <br>
    <br>
    <p>
        <%=comment['content']%>
    </p>  
    <br>   
    <p>
    <span style="font-size: 75; color: #999">Added at: <%=comment['created_date']%></span>
    </p>
    <hr> 
    <br>
<%end%>
<form action="/details/<%=@row['id']%>" method="POST">
    <div class="form-group">
    <label for="exampleInputEmail1">Enter your name</label>
    <input name="comment_name" type="text" class="form-control" id="exampleInputEmail1">
    </div>
    <div class="form-group">        
        <textarea name="content" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Add comment</button>
</form>